# http://processors.wiki.ti.com/index.php/Source_control_with_CCS
Debug/
Release/
.xdchelp
.config/
.launches/

# macOS
.DS_Store

# LaTeX's dirty dirty compilation
*.aux         
*.fdb_latexmk 
*.out         
*.bcf         
*.fls         
*.pdf         
*.blg         
*.log         
*.synctex.gz
